# Global
.DS_Store
Thumbs.db
.env

# VSCode
.vscode/

# Node / Angular
node_modules/
dist/
.angular/
.cache/
tmp/
npm-debug.log*
yarn-error.log
package-lock.json 

# Logs & diagnostics
.log
.tgz


# Sous-projet front Angular
frontend/cinephoria-web/node_modules/
frontend/cinephoria-web/dist/
frontend/cinephoria-web/.angular/
frontend/cinephoria-web/.cache/
