<nav class=" navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="contrainer">
        <a class="navbar-brand" routerLink="/">Cinephoria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNav">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/"routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">Accueil</a></li>
                <li class="nav_item"><a class="nav-link" routerLink="/Films" routerLinkActive="active">Films</a></li>
                <li class="nav_item"><a class="nav-link" routerLink="/reservation" routerLinkActive="active">Réservation</a></li>
                <li class="nav_item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
                </ul>"
                <a class="btn btn-outline-light" routerLink="/login">Se connecter</a>
        </div>
    </div>      
</nav>


