<header class="app-header">
  <nav class="nav">
    <a class="brand" [routerLink]="['/films']">🎬 Cinephoria</a>

    <div >
      <a class="btn btn-primary" [routerLink]="['/login']">Se connecter</a>
    </div>

    <ul class="menu">
      <li><a [routerLink]="['/films']" routerLinkActive="active">Films</a></li>
      <li><a [routerLink]="['/reservation']" routerLinkActive="active">Réservation</a></li>
      <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</header>

